name: Morning Digest Run

on:
  schedule:
    - cron: "0 23 * * *" # 7am SGT = 11pm UTC
  workflow_dispatch:

jobs:
  run-digest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          cp ./output/morning_digest_singapore.md ./index.md

      - name: Execute Morning Digest
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        run: |
          python src/main.py

      - name: Commit Updated Morning Digest
        uses: stefanzweifel/git-auto-commit-action@v7
